{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title %}CHPT | Register {% endblock title %}
{% block content %}
 <!-- Sign up form -->
<section class="mail pt-lg-5 pt-4">
	<div class="container pt-lg-5">
		<h2 class="heading text-center mb-sm-5 mb-4">Join us today</h2>
		<div class="row agileinfo_mail_grids">
			<div class="container col-lg-6 agileinfo_mail_grid_right">
				<form action="" method="post">
					{% csrf_token %}
					{{ form|crispy }} 
                <br>
                    <input type="submit" value="Sing up" class="btn btn-outline-info">    
				</form>
				<br> 
				<div class="border-top pt-3">
           			<small class="text-muted">
                	Already Have An Account? <a class="ml-2" href="{% url 'login' %}"><b>Sign In </b></a>
           			</small>
       			 </div>
			</div>
		</div>
	</div>
<br> <br> <br>
</section>
{% endblock %}