{% extends 'base.html' %}
{% load static %}
{%block title %}CHPT | About Us {% endblock title %}
{% block content %}
<!-- about -->
<section class="about py-5" id="abou1" ">
	<div class="container py-md-3">
		<h2 class="heading text-center mb-sm-5 mb-4">About Us </h2>
	</div>
</section>
<!-- //about -->

<!-- about bottom -->
<section class="about-bottom pb-5">
	<div class="container pb-lg-3">
		<div class="row bottom-grids">
			
			<div class="row blog-grids head">

			<div class="col-lg-7 mb-lg-5 blog-img1">
				<img src="{% static 'images/my images/2.png' %}" alt="" class="img-fluid"/>
				<div class="col">
				<br>
				<h2 class="my-3">General Informations</h2>
				
				<p class="my-3" style="font-size: 18px">- El Mokhtar Essoussi provincial hospital was established in the late 19s , located in Moulay Rachid Avenue in Taroudant. <br>
					- The director of the hospital is Dr.Jamaâ LAADAME.<br>
					- The hospital provides health care for the 800 thousand residents of the region . <br>
					- The hospital got a functional litter capacity of 265 beds, has 50 doctors, and 250 nurses. <br>
				</p>
			</div>		
			</div>
			<div class="col-lg-5 mb-lg-5 mb-4" >
				<br>
				<h2 class="my-3">Doctors/Nurses</h2>
				<div style="font-size: 18px">
				<h4>Doctors</h4>
				<p class="my-3" style="column-count: 2" >
				4 Visceralist surgeons <br>
				3 Gynecologists <br>
				3 Traumatologists <br>
				3 Anasthesists	<br>
				2 Infant surgeons <br>
				2 Urologists <br>
				2 Ohptalmologists <br>
				1 internist doctor <br>
				2 gastroenterologists <br>
				4 Cardiologists <br>
				2 Pneumologists <br>
				1 Dermatologist <br>
				1 Nephrologist <br>
				1 Neurologist <br>
				1 Endocrinologist <br>
				1 Rhumatologist <br>
				3 Psychiatrists <br>
				4 Pediatricians <br> 
				5 Radiologists <br>
				2 Biologists <br> </p>
				<h4>Nurses</h4>
				<p class="my-3" style="column-count: 2" >
				
				106 Polyvalents <br>
				25 Anesthesists <br>
				13 Radio technician	<br>
				12 Lab technician <br>
				35 Mid-wives<br>
				1 Pharmacist <br>
				17 In psychiatry <br>
				8 In Kinestherapy <br>
				1 Hygiene<br>
				3 Social assistant<br>
				25 Auxiliary <br>
				1 Orthopist <br>
				 </p>
				</div>
			</div>	
		</div>
			
		
	</div>
</section>
<!-- //about bottom -->

{% endblock %}
