{% extends 'base.html' %}
{%block title %}CHPT | Services {% endblock title %}
{% block content %}


<section class="services-inner py-5">
	<div class="container py-md-3">
		<h2 class="heading text-center mb-sm-5 mb-4">Services </h2>
		<div class="row service-grids">
			<div class="row col-lg-6 mb-5 padder-none">
				<div class="col-sm-3 ser_icon">
					<span class="icon bg1 mx-auto">
						<span class="fa fa-heartbeat"></span>
					</span>
				</div>
				<div class="col-sm-9 mt-sm-0 mt-3">
					<h4>Medecine Department</h4>
					<p class="">It groups the following disciplines</p>
					<ul>
					<li><b><a href="https://en.wikipedia.org/wiki/Family_medicine" target="_blank" style="color: black ">General medecine</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Phthisiology" target="_blank" style="color: black">Pneumo-phtisiology</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Cardiology" target="_blank" style="color: black">Cardiology</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Neurology" target="_blank" style="color: black">Neurology</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Gastroenterology" target="_blank" style="color: black">Gastro Enterology</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Dermatology" target="_blank" style="color: black">Dermatology</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Endocrinology" target="_blank" style="color: black">Endocrinology</a></b></li>
					</ul>
					
				</div>
			</div>
			<br><br>
			<div class="row col-lg-6 mb-sm-5 padder-none">
				<div class="col-sm-9 text-sm-right">
					<h4> Surgery Departement</h4>
					<p class="">It groups the following units</p>
					<ul>
					<li><b><a href="" style="color: black">Emergencies unit</a></b></li>
					<li><b><a href="" style="color: black">Reanimation Unit</a></b></li>		
					<li><b><a href="https://en.wikipedia.org/wiki/Abdominal_surgery" target="_blank" style="color: black">Abdominal Surgery</a> Unit</b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Urology" target="_blank" style="color: black">Urology</a> Unit</b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Surgery" target="_blank" style="color: black">Operation Bloc</a></b></li>
					</ul>		
					
				</div>

				<div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
					<span class="icon bg2 mx-auto">
						<span class="fa fa-stethoscope"></span>
					</span>
				</div>
			</div>
			<br><br>

			<div class="row col-lg-6 mb-5 padder-none">
				<div class="col-sm-3 ser_icon">
					<span class="icon bg1 mx-auto">
						<span class="fa fa-heartbeat"></span>
					</span>
				</div>
				<div class="col-sm-9 mt-sm-0 mt-3">
					<h4>Traumatology Orthopedy And Neurosurgery Department</h4>
					<p class="">It groups the following units</p>
						<ul>
						<li><b><a href="https://en.wikipedia.org/wiki/Traumatology" target="_blank" style="color: black">Traumatology</a> <a href="https://en.wikipedia.org/wiki/Orthopedic_surgery" target="_blank" style="color: black"> Orthopedics</a> Unit</b></li>
						<li><b><a href="https://en.wikipedia.org/wiki/Neurosurgery" target="_blank" style="color: black">Neurosurgery Unit</a></b></li>	
						</ul>
					
				</div>
			</div>
			<br><br>

			<div class="row col-lg-6 mb-sm-5 padder-none">
				<div class="col-sm-9 text-sm-right">
					<h4> Ophtalmo/ORL/Stomatology Department</h4>
					<p class="">It groups the following units</p>
						<ul>
							<li><b><a href="https://en.wikipedia.org/wiki/Ophthalmology" target="_blank" style="color: black">Ophtalmology </a>Unit</b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Otorhinolaryngology" target="_blank" style="color: black">Otorhinolaryngology </a>Unit</b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Oral_medicine" target="_blank" style="color: black">Stomatology </a>Unit</b></li>						
						</ul>
					
				</div>
				<div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
					<span class="icon bg2 mx-auto">
						<span class="fa fa-stethoscope"></span>
					</span>
				</div>
			</div>
			<br><br>

			<div class="row col-lg-6 mb-5 padder-none">
				<div class="col-sm-3 ser_icon">
					<span class="icon bg1 mx-auto">
						<span class="fa fa-heartbeat"></span>
					</span>
				</div>
				<div class="col-sm-9 mt-sm-0 mt-3">
					<h4>Medico Technical Department</h4>
					<p class="">It groups the following units</p>
						<ul>
							<li><b><a href="https://en.wikipedia.org/wiki/Radiology" target="_blank" style="color: black">Radiology Unit</a></b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Laboratory" target="_blank" style="color: black">Laboratory Unit</a></b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Blood_bank" target="_blank" style="color: black">Blood Bank</a></b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Physical_therapy" target="_blank" style="color: black">Reeducation Unit</a></b></li>
							<li><b><a href="" style="color: black">Fonctional Exploration Unit</a></b></li>
							<li><b><a href="https://en.wikipedia.org/wiki/Hemodialysis" target="_blank" style="color: black">Hemodialysis Center</a></b></li>
							<li><b>Polyvalent<a href="https://en.wikipedia.org/wiki/Diagnosis" style="color: black"> Diagnosis </a> Center</b></li>
						</ul>
					
				</div>
			</div>
			<br><br>

			<div class="row col-lg-6 mb-sm-5 padder-none">
				<div class="col-sm-9 text-sm-right">
					<h4>Hospital Pharmacy Service</h4>
					<p class="">It groups the following units</p>
					<ul>
					<li><b><a href="https://en.wikipedia.org/wiki/Hospital_pharmacy" target="_blank" style="color: black">Hospital Pharmacy</a></b></li>
					<li><b><a href="https://en.wikipedia.org/wiki/Sterilization_(microbiology)" target="_blank" style="color: black">Sterilization </a>Central Unit</b></li>
					</ul>
					
				</div>
				<div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
					<span class="icon bg2 mx-auto">
						<span class="fa fa-stethoscope"></span>
					</span>
				</div>
			</div>
		
			
		</div>
	</div>
</section>
<!-- //Services -->

{% endblock %}
